/* ImageSlider.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slick-slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    transition: transform 0.5s ease-in-out;
}

.slick-prev,
.slick-next {
    position: absolute !important;
    margin-top: -30px !important;
    font-size: 24px !important;
    color: #333;
    margin: 25px;
    z-index: 2;
}

button.slick-arrow.slick-next:before {
    color: transparent !important;
    font-size: 30px !important;
    height: 100px !important;
    margin-right: -160px;
}

button.slick-arrow.slick-next {
    margin-right: 260px;
    width: 24px !important;
}

button.slick-arrow.slick-prev {
    margin-left: 140px;
    width: 24px !important;
}

.slick-prev:before {
    color: transparent !important;
    font-size: 30px !important;
}

.slick-prev:hover,
.slick-next:hover {
    color: #555;
}

.slick-dots {
    bottom: 17px !important;
}

.slick-dots li button:before {
    border: 1px solid white;
    font-size: 12px;
    color: #ECECEC !important;
    background: #ECECEC !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    color: transparent !important;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
    background: #443085 !important;
    border-radius: 50%;
}

.asosiybolim {
    width: 100%;
    height: 90vh;
    padding: 80px 80px;
    position: relative;
    display: flex !important;
    justify-content: end;

    .spark_img {
        width: 600px;
        height: 600px;
        top: -50px;
        left: 150px;
        position: absolute;
    }

    .header_bg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .asosiy_text {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 760px;
    }

    h6 {
        line-height: 55px;
        font-size: 50px;
        font-weight: 500;
        width: 85%;
    }

    .asosiy_bnt {
        border-radius: 5px;
        padding: 5px 30px;
        background: rgb(70, 25, 121);
        color: #fff;
        font-size: 18px;
    }
}

@media (max-width: 447px) {
    .asosiybolim {
        padding: 20px;

        .spark_img {
            max-width: 300px;
            max-height: 300px;
            left: 0;
            top: 100px;
        }

        .asosiy_text {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;

            h6 {
                font-size: 20px;
                line-height: 25px;
                max-width: 220px;
            }

            .asosiy_bnt {
                margin-bottom: 30px;
            }
        }


    }
}

@media (min-width: 447px) and (max-width: 768px) {
    .asosiybolim {
        padding: 20px;

        .spark_img {
            max-width: 500px;
            max-height: 500px;
            left: 0;
            top: 0px;
        }

        .asosiy_text {
            display: flex;
            align-items: start;
            // justify-content: start;
            height: 100%;
            width: 100%;
            padding-left: 20px;

            h6 {
                font-size: 25px;
                line-height: 35px;
                max-width: 300px;
            }

            .asosiy_bnt {
                margin-bottom: 30px;

            }
        }


    }
}