* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


.aloqa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .aloqa_boxes {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .aloqa_box {
            display: flex;
            flex-direction: column;
            input {
                background: #d2c1c1;
                width: 300px;
                padding: 8px;
                outline: none;
                border-radius: 5px;
            }
            
            input:only-child() {
                background: #000;
            }
            
            label{
                padding-left: 5px;
                font-size: 18px;
            }
        }
    }
}