* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    background: rgb(70, 25, 121);
    padding: 30px 80px;

    .footer_menu {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .footer_left {
        display: flex;
        align-items: start;
        gap: 150px;
        width: 50%;

        .footer_logo {
            h1 {
                color: #fff;
                font-family: sans-serif;
            }

            h6 {
                color: #a4a4a4;
                font-size: 20px;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                display: flex;
                flex-direction: column;
                gap: 5px;

                a {
                    color: #fff;
                    letter-spacing: 1px;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }

    }

    .footer_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;

        h2 {
            color: #fff;
            font-size: 24px;
        }

        .footer_boxes {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 10px;

            .footer_box {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    padding: 0;
                    margin: 0;
                    color: #fff;
                    font-size: 14px;
                    max-width: 450px;
                    line-height: 15px;
                }

                span {
                    color: #fff;
                    font-size: 20px;
                    // background-color: #fff;
                }
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 60px 0 20px 0;
        gap: 10px;
    }

    .footer_icon {
        display: flex;
        align-items: center;
        gap: 55px;

        span {
            font-size: 25px;
            color: rgb(70, 25, 121);
            background: #fff;
            padding: 5px;
            border-radius: 50%;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        color: #fff;
        background: #fff;
    }
}

@media (max-width: 447px) {
    .footer {
        padding: 20px;
        display: flex !important;
        flex-wrap: wrap;

        .footer_menu {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .footer_left {
                width: 100%;
                display: flex;
                .footer_logo {
                    h1 {
                        font-size: 16px;
                    }

                    h6 {
                        font-size: 14px;
                    }
                }

                ul {
                    li {
                        a {
                            font-size: 14px;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .footer_right {
                width: 100%;
                h2 {
                    font-size: 16px;
                }
            }
        }

        .icon {
            .footer_icon {
                gap: 15px;
                span {
                    font-size: 20px;
                }
            }
        }
    }
}